/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

/* Your code starts here! */

/*--------------Your code starts here!---------------*/

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	max-width:100%;
	/*border:1px solid pink;*/
	}


/*-------------general container starts here-------------*/

html{
    font-size:62.5%; 
}

body {
    margin:0 3%;
    
}

/*------------Header section of the page----------------*/

header { 
    margin: 1% 1% 3% 1%;
    display:flex;
    justify-content:space-between;
}

nav {
	display:flex;
	justify-content:space-between;
    align-items: flex-end;
    width: 80%;
}

a {
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5rem;
	color: rgb(156, 156, 156);
}


/* -----------Top Section----------------*/

.serv-top .services-header-img{
    margin-bottom: 3%;
    width:100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1%;
}

.serv-top article p {
    text-align:justify;
    font-size:1.5rem;
}

/* ---------Box Section---------------*/

.middle {
    display:flex;
    flex-direction:row;
    margin-top:2%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 2%;
}

.middle .box {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.middle .box article {
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   flex-wrap:wrap;
   width: 30%;
   border: 2px solid black;
   background-color: lightgrey;
   padding: 1%;
   margin-bottom: 2%;
}

h2 {
    margin-bottom: 1%;
    font-size:2rem;
}

.middle .box article p {
    font-size:1.5rem;
    margin-bottom: 1%;

}

.middle .box article a{
    display:flex;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    border-radius:5px;
    width: 120px;
    height:30px;
    background-color: white;
    text-align: center;
    font-size: 1.5rem;
}
/* ----------Bottom Section-----------*/

.bottom {
    margin-top: 2%;
    display:flex;
    justify-content:space-between;
}

.services-info-img {
    display:flex;
    justify-content:space-between;
    width: 30%;
}

h3 {
    font-size:2rem;
    margin-bottom:1%;
}

.bottom article {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 55%;
    line-height: 1.5;
}

.bottom article ul li {
    margin-top: 2%;
    margin-left: 2%;
    list-style: square;
} 



/* -----Footer Section -------*/

footer {
    margin-top: 5%;
    margin-bottom: 2%;
}

footer article {
    text-align: center;
}